@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Serif&family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
  }
  body{
    font-family: 'Noto Serif', sans-serif;
    font-size: 14px;
  /* height: 100vh; */
    width: 100vw; 
   
  }
  #welcome{
    background-color: #22577A;
     width: 100vw; 
  
    overflow: hidden;
      height: 100vh;  
   
  }
  #welcome-header{
    font-family: 'Monoton', sans-serif;
    letter-spacing: 4px;
    line-height: 50px;
    text-transform: uppercase;
   font-size: 200%;
   color: #FFFDD0;
  text-align: center;
  padding: 15px;
  
  }
  .border-one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  width: 100%;
  margin: 0 auto;
  
  
  
  
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  #first-p{
    padding: 18px;
    text-align: center;
  }
  #second-p{
    color: #FFFDD0;
    font-family: 'Noto Serif', sans-serif;
    padding: 10px;
  }
  #control-btns{
    margin-top: 30px;

   }
   .btn{
    background-color: #57CC99;
    width: 300px;
     height: 90px; 
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
   }
   #start-btn{
    color: #FFFDD0;
    font-size: 22px;
    font-family: 'Monoton', sans-serif;
    text-transform: uppercase;
  }
  .purple-in-color{
    color: #22577A;
     align-items: center;
   }
    p,h1,h2,h4{
    color: #FFFDD0;
    font-size: 22px;
    font-family: 'Noto Serif', sans-serif
  }
  .box, #box-two{
    position: absolute;
      top: 50%;
      left: 50%;
      height: 550px; 
       width: 70%; 
   
      box-shadow:  1px 5px 5px 1px #57CC99;
      transform: translate(-50%, -50%);
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  
  }

  /* second question */
  #question-container{
    border-radius: 5px;
    background-color: #22577A;
    min-height: 100vh;
    width: 100vw;
    height: 100vh
  }
  /* #quiz-header{
    color: #FFFDD0;
    font-size: 22px;
    font-family: 'Monoton', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
   font-size: 200%;
  
  } */
  

   
  
  
  
  
    

   
  