@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Noto+Serif&family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

/* code snippet from love running */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Noto Serif', sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

#start, #rules {
  background-color: #22577A;
  width: 100vw;
  overflow: hidden;
  height: 100vh;

}

#welcome-header {
  font-family: 'Monoton', sans-serif;
  letter-spacing: 4px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 200%;
  color: #FFFDD0;
  text-align: center;
  padding: 15px;

}

.border-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

}

#first-p {
  padding: 18px;
  text-align: center;
}

#second-p {
  color: #FFFDD0;
  font-family: 'Noto Serif', sans-serif;
  padding: 10px;
}

#control-btns {
  margin-top: 30px;
  margin-bottom: 30px;

}

.btn {
  background-color: #57CC99;
  width: 300px;
  height: 90px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

#start-btn {
  color: #102637;
  font-size: 22px;
  font-family: 'Monoton', sans-serif;
  text-transform: uppercase;
}

.purple-in-color {
  color: #22577A;
  align-items: center;
}

#questions,
#thank-you,
p,
h1,
h2,
h4 {
  color: #FFFDD0;
  font-size: 16px;
  font-family: 'Noto Serif', sans-serif
}
.box-one{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
 
  box-shadow: 1px 5px 5px 1px #57CC99;
  transform: translate(-50%, -50%);
  
}

#rules-header{
  color: #FFFDD0;
  font-size: 18px;
  font-family: 'Monoton', sans-serif;
  text-align: center;
   padding-top: 10px; 
  padding-bottom: 10px; 
  letter-spacing: 4px;
  text-transform: uppercase;

}
#rules-list{
  text-align: center;
}

.rule{
  padding: 2px;
  margin-left: 5px;
}


#questions {
  text-align: center;
  padding-bottom: 9px;
  margin-top: 50px;

}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  box-shadow: 1px 5px 5px 1px #57CC99;
  transform: translate(-50%, -50%);
  

}


#question-container {
  border-radius: 5px;
  background-color: #22577A;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

#box-two {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  box-shadow: 1px 5px 5px 1px #57CC99;
  transform: translate(-50%, -50%);
}

#quiz-header {
  color: #FFFDD0;
  font-size: 22px;
  font-family: 'Monoton', sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 200%;

}
#question-count {
  color: #FFFDD0;
  font-size: 22px;
  font-family: 'Noto Serif', sans-serif;
  margin-left: 40px;
  float: left;
  text-align: left;

}

#score {
  font-size: 22px;
  font-family: 'Noto Serif', sans-serif;
  float: right;
  text-align: right;
  margin-right: 40px;

}

.answer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 72px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid #57CC99;

}

.choice {
  background-color: #57CC99;
  color: #102637;
  padding: 22px 40px;
  margin: 0;
  height: 100%;

}

.choice-text {
  padding: 14px;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--hue);
}



.quit{
  margin-left: 40px;
  float: left;
  text-align: left;

}
.next{
  float: right;
  text-align: right;
  margin-right: 40px;

}

/* correct and wrong answer change in color */
.choice-text.correct {
  --hue: var(--hue-correct);

}

.choice-text.wrong {
  --hue: var(--hue-wrong);

}

:root {
  --hue-correct: #57cc99;
  --hue-wrong: #DA1212;

}

/* correct and wrong answer change in color end */

#results-section {
  border-radius: 5px;
  background-color: #22577A;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

#results-header {
  color: #FFFDD0;
  font-size: 22px;
  font-family: 'Monoton', sans-serif;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 200%;

}

#box-three {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  box-shadow: 1px 5px 5px 1px #57CC99;
  transform: translate(-50%, -50%);
}

.green {
  text-align: center;
  color: #57CC99;
  font-size: 100px;

}
#replay,#quit,#quit-quiz,#next-question{
  text-transform: uppercase;
}

.results-btn, .quiz-screen, .btns{
  border: 1px solid #57CC99;
  background-color: #57CC99;
  color: #102637;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: 'Monoton', sans-serif;
  font-size: 18px;
  letter-spacing: 4px;
  height: 40px;
  padding: 0 18px;

}

#message {
  padding: 6px;
  text-align: center;
}

.hide {
  display: none;
}


/* media queries */
@media only screen and (max-width:530px) {

  #welcome-header {
    padding: 4px;
  }

  #control-btns {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #first-p {
    padding: 5px;
  }

  #heading-one {
    text-align: center;
  }

  .btn {
    width: 250px;
  }

}

@media only screen and (max-width:454px) {
  .btn {
    width: 200px;

  }
}

@media only screen and (max-width:370px) {
  .btn {
    width: 200px;


  }

  .box {

    width: 85%;
  }

  #first-p {
    padding: 1px;
  }

  #second-p {
    padding: 6px;

  }

}

/* question container */
@media only screen and (max-width:600px) {
  #box-two {
    width: 85%;
  }

  .answer-container {
    margin-left: 15px;
  }

  .choice {
    padding: 22px 18px;
  }
}

@media only screen and (max-width:420px) {
  #quiz-header {
    padding: 3px;
  }

  .choice {
    padding: 19px 22px;
  }

  .choice-text {
    font-size: 18px;
    padding: 8px;
  }
}

@media only screen and (max-width:338px) {
  #box-two {
    width: 90%;


  }

  #questions {
    font-size: 18px;
    padding: 3px;
  }

  .answer-container {
    height: 62px;
  }

  .hr {
    margin-top: 11px;
    margin-bottom: 8px;
  }

  #question-count {
    margin-left: 10px;
  }

}

/* results box */
@media only screen and (max-width:632px) {

  #thank-you {
    text-align: center;
  }

  #your-score {
    text-align: center;
  }

  #message {
    text-align: center;
  }


}

@media only screen and (max-width:632px) {

  #thank-you {
    text-align: center;
  }

  #your-score {
    text-align: center;
  }

  #message {
    text-align: center;
  }


}


@media only screen and (max-width:632px) {


  #thank-you {
    text-align: center;
  }

  #your-score {
    text-align: center;
  }

  #message {
    text-align: center;
  }


}

@media only screen and (max-width:520px) {

  #results-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

  }

  #message {
    padding: 3px;
  }

  #quit {
    margin-top: 10px;
  }

}

@media only screen and (max-width:380px) {


  #welcome-header {
    line-height: 40px;
  }

  #thank-you {
    padding-top: 18px;
  }


}